<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Instruções Iniciais</title>
<style type="text/css">
	p {margin:0 0 3px;}
	h3 { margin:0 0 10px; }
</style>
</head>

<body style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">
<table align="center" border="0" cellspacing="0" cellpadding="0" width="580" bgcolor="#E3ECF0" style="background:#E3ECF0;">
  <tbody>
    <tr>
      <td valign="top" style="padding:15px; background:#E3ECF0;">
      <table border="0" cellspacing="0" cellpadding="0" style="background:#ffffff;" bgcolor="#ffffff;">
          <tbody>
            <tr>
              <td colspan="2" style="padding:20px 0;"><p align="center" style="text-align:center;"><img src="http://www.nfe4web.com.br/imagens/Logo_NFe4Web_250W_png.png" /><br /></p></td>
            </tr>
            <tr>
              <td colspan="2" style="padding:0 10px;"><h3>Bem vindo à <strong><span style="color:#990000;">NFe4Web</strong>! </span></h3>
                  <p>
                  Após seu cadastro, precisamos relizar um processo que pode tomar um pouco do seu tempo. Pedimos desculpas pela burocracia, mas são requerimentos da Secretaria da Fazenda, e será fundamental para que possamos configurar e iniciar com sucesso no projeto de NF-e. <br>
                  <br>
                  Para iniciarmos a configuração do seu sistema, acesse o nosso painel de controle em <a href="http://www.nfe4web.com.br" target="_blank">www.nfe4web.com.br</a> com o seu login e senha criado no momento do seu cadastro conosco.<br>
                  <br>
                  Logo após a sua entrada em nosso painel de controle, siga os seguintes passos abaixo para a configuração da sua conta, para que tudo esteja pronto para o início dos testes em homologação.</p></td>
            </tr>
            <tr>
              <td colspan="2" style="padding:0 10px;"><br /><h3 style="color:red;">1- Configurando os dados da sua empresa</h3></td>
            </tr>
            <tr>
              <td style="padding:0 10px;"><p><strong>a.</strong> No grupo das informações gerais, acesse o <strong>Cadastro das Empresas</strong></p></td>
              <td rowspan="2" width="52"><img border="0" width="52" height="52" src="http://www.nfe4web.com.br/imagens/cadastros.jpg"></td>
            </tr>
            <tr>
              <td colspan="2" style="padding:0 10px;"><p><strong>b.</strong> Clique no nome da sua empresa cadastrada em nosso sistema </p></td>
            </tr>
            <tr>
              <td colspan="2" style="padding:0 10px;"><p><strong>c.</strong> Selecione a opção <strong>Dados da Empresa</strong><br>
                  &nbsp;&nbsp;&nbsp;&nbsp;- Você deverá preencher todos os campos que estão com o status de obrigatório<span style="color:red;">*</span><br>
                  &nbsp;&nbsp;&nbsp;&nbsp;- A princípio, o sistema deverá deixar configurado como ambiente de<strong>Homologação</strong> <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;- Se a sua empresa é uma Loja Virtual, e está afiliada a algum dos nossos parceiros, será também necessário configurar os parâmetros da loja Virtual, consulte o helpdesk da sua loja virtual, caso possua dúvidas sobre qual parâmetro deve ser configurado.<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;- Após as atualizações, clique no botão de [Gravar] </p></td>
            </tr>
            <tr>
              <td colspan="2" style="padding:0 10px;"><br /><h3 style="color:red;">2- Configurando as regras fiscais
			  <span style="font-size:12px;color:red;">(requer auxílio do contador) </span></h3></td>
            </tr>
            <tr>
              <td style="padding:0 10px;"><p><strong>a. </strong> No grupo de informações gerais, acesse o <strong>Cadastro das Empresas</strong></p></td>
              <td rowspan="2" width="52"><img border="0" width="52" height="52" src="http://www.nfe4web.com.br/imagens/cadastros.jpg"></td>
            </tr>
            <tr>
              <td colspan="2" style="padding:0 10px;"><p><strong>b. </strong> Clique no nome da sua empresa cadastrada em nosso sistema </p></td>
            </tr>
            <tr>
              <td colspan="2" style="padding:0 10px;"><p><strong>c. </strong> Selecione a opção <strong>CADASTRO FISCAL PARA O EMISSOR </strong><br>
                  &nbsp;&nbsp;&nbsp;&nbsp;- As regras de ICMS, IPI, PIS e COFINS, são necessárias o seu preenchimento, para que possamos trabalhar automaticamente a seleção desses campos no decorrer das suas operações de vendas.<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;- Caso os envios das mercadorias sejam realizados pelo correio local, se faz necessário preencher as informações do frete.<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;- As regras fiscais inseridas neste painel, serão aplicadas somente nas notas de venda, integradas a plataforma do cliente<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;- Após as atualizações, clique no botão de [Gravar]</p></td>
            </tr>
            <tr>
              <td colspan="2" style="padding:0 10px;"><br /><h3 style="color:red;">3- Credenciando a sua empresa no projeto de NF-e <br />
                <span style="font-size:12px; color:red; font-weight:normal;">(caso a empresa já esteja credenciada e/ou já emitindo NF-es, ignorar este passo)</span></h3>
                <p>Para que a sua empresa ingresse no projeto de NF-e, é necessário que exista o credenciamento de acordo com os procedimentos estabelecidos pela sua unidade estadual. <br>
                  <br>
                  Montamos um tutorial informativo, demonstrando como as empresas de São Paulo e Rio de Janeiro procedem com o credenciamento, <a href="http://www.megaideas.net/downloads/sobre_o_credenciamento.pdf" target="_blank">clique aqui</a> e veja como credenciar nesses 2 estados.<br>
                  <br>
                  Para os demais estados, acesse o portal da NF-e da sua unidade federal e verifique os procedimentos. Os links dos portais estaduais, se encontram no portal nacional ( <a href="http://www.nfe.fazenda.gov.br/" target="_blank">http://www.nfe.fazenda.gov.br</a> ), identificado como "<strong>Portais Estaduais da NF-e</strong>".<br>
                  <br>
                  O credenciamento que deve ser feito de início, é o credenciamento em HOMOLOGAÇÃO, a ativação em produção deverá ser feita SOMENTE após efetuado todos os testes! <br>
                  <br>
                  O credenciamento da empresa em Produção, torna a emissão em papel documento inábil (inválido), necessitando a entrada IMEDIATA em produção. </p></td>
            </tr>
            <tr>
              <td colspan="2" style="padding:0 10px;"><br /><h3 style="color:red;">4- Solicitando o certificado digital (A-1) <br />
			  <span style="font-size:12px; color:red;"> (caso a empresa já possua o certificado digital A-1, ignorar este passo)</span></h3></td>
            </tr>
            <tr>
              <td colspan="2" style="padding:0 10px;"><p>Para a emissão da NF-e em nossos sistemas, é necessário o uso do certificado digital A1 (formato em arquivo). Para saber mais sobre o uso do certificado digital e como solicitá-lo, <a href="http://www.megaideas.net/downloads/sobre_o_certificado_digital.pdf" target="_blank">clique aqui</a> e faça o download do PDF das nossas instruções. </p></td>
            </tr>
            <tr>
              <td colspan="2" style="padding:0 10px;"><br /><h3 style="color:red;">5- Instalando o certificado digital no sistema </h3></td>
            </tr>
            <tr>
              <td colspan="2" style="padding:0 10px;"><p>Calma, falta agora somente mais 1 passo para o seu início em ambiente de homologação!<br>
                  <br>
                  Neste último passo, precisaremos enviar o arquivo do certificado digital para os nossos servidores e deste modo, a sua empresa estará apta a iniciar o início dos testes em homologação. <br>
                  <br>
                  <a href="http://www.megaideas.net/downloads/instalando_o_certificado_digital_v1.1.doc" target="_blank">Clique aqui</a>, e leia atentamente como proceder com a instalação do certificado digital. </p></td>
            </tr>
            <tr>
              <td colspan="2" style="padding:0 10px;"><br /><h3 style="color:red;">6- Início em ambiente de homologação </h3></td>
            </tr>
            <tr>
              <td colspan="2" style="padding:0 10px;"><p>Já foram efetuados todos os passos acima? OK, então a sua empresa já está apta a iniciar a homologação conosco!<br>
                  <br>
                  Para testar o envio das notas em ambiente de Homologação, vá até o painel de controle, e clique sobre <strong>Emissor NFeCommerce</strong>&nbsp;
                  -&gt; <strong><span style="color:red;">Integração (PrestaShop).</span></strong> <br>
                  <br>
                  Se os parâmetros de configuração com a sua plataforma estiverem todos corretos, você deverá neste momento, visualizar os pedidos gerados do dia corrente. Caso não possua pedidos neste dia, tente selecionar no calendário, o dia que que foram feitos testes de pedidos.<br>
                  <br>
                  Assim que visualizar os pedidos, clique sobre Emitir NF-e, e tente processar esta NF-e. Não se preocupe, pois não terá validade jurídica! <br>
                  <br>
                  Recomendamos enviar as primeiras Notas Fiscais para o contador, para que ele valide e verifique se os seus cadastros fiscais estão todos certos.<br>
                  <br>
                  Após os testes de envios em homologação, acesse novamente o ambiente de cadastro da empresa e mude o sistema para ambiente de <strong>Produção</strong>. <br>
                  <br>
                  Pronto! Agora a sua empresa já está apta a iniciar as emissões em nosso ambiente de Produção! </p><br />
			  </td>
            </tr>
          </tbody>
        </table>
        <hr />
        <table border="0" cellspacing="0" cellpadding="0" bgcolor="#E3ECF0" style="padding:15px; background:#E3ECF0;">
          <tbody>
            <tr>
              <td style="padding:0 10px;"><p align="center" style="text-align:center;"><span style="color:#333333;">Ainda restam dúvidas? Abra um chamado através do nosso painel de controle, opção de <strong>Chamados Técnicos</strong>.<br />
                  A opção de chamados técnicos é a mais prática de se utilizar, e você ainda contribui com a base de dados de perguntas e respostas do nosso sistema. </p></td>
              <td width="52" style="width:52px; padding:0;"><img border="0" src="http://www.nfe4web.com.br/imagens/homologacao.jpg"></td>
            </tr>
            <tr>
              <td colspan="2" style="padding:0 10px;"><p align="center" style="text-align:center;">========================== <br>
                  Seja bem vindo à <strong><span style="font-size:16px;font-family:Verdana;color:#990000;">NFe4Web</span></strong><br>
                  ==========================</p></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<br />

<hr />
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="padding:15px; background:#ffffff;">
  <tbody>
    <tr>
      <td style="padding:0 10px;"><h3 align="center" style="color:#990000;">Fique sabendo das últimas notícias e atualizações sobre NFe da Secretaria da Fazenda e dos nossos novos produtos</h3></td>
    </tr>
    <tr>
      <td style="padding:15px;" align="center"><a href="http://twitter.com/NFeMegalosIdeas" target="_blank"><img border="0" width="559" height="41" src="http://www.megaideas.net/images/twitter.gif" alt="Siga-nos"></a></td>
    </tr>
  </tbody>
</table>
</body>
</html>
