<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>nfe4web</name>
	<displayName><![CDATA[NFe4Web]]></displayName>
	<version><![CDATA[2.1]]></version>
	<description><![CDATA[Automatic issuing of Tax Invoice]]></description>
	<author><![CDATA[PrestaBR]]></author>
	<tab><![CDATA[administration]]></tab>
	<confirmUninstall>Are you sure you want to uninstall nfe4web module and remove the database involved?</confirmUninstall>
	<is_configurable>1</is_configurablee>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>
